body {
  background-color: #282c34;
  color: white;
}

a:visited {
  color: goldenrod;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}


@media only screen and (min-width: 560px) {
  /* non-mobile devices */
  div#main-content {
    width: 100%;
    margin: 0 2rem;
  }
}