div.convention-item {
    background-color: darkslategray;
    border-radius: 0.5em;
}

div.convention-item-unconfirmed {
    background-color: darkolivegreen;
}

@media only screen and (min-width: 240px) {
    div.convention-item {
        width: 100%;
        height: 3em;
    }

    div.convention-item-unconfirmed {
        height: 4.5em;
    }

    h3.convention-header {
        margin-bottom: -1em;
        text-align: left;
    }

    h3.convention-header a {
        font-size: 1rem;
        padding-left: 1em;
    }

    p.convention-timeleft {
        text-align: left;
        padding-left: 1.1em;
        padding-top: 0.25em;
        padding-bottom: 0;
        font-size: 0.85em;
    }

    p.convention-unconfirmed-msg {
        font-size: 0.7em;
        text-align: left;
        padding-left: 1.4em;
    }
}


@media only screen and (min-width: 560px) {
    div.convention-item {
        width: 16em;
        height: 12em;
        margin: 0.75em;
        float: left;
        padding: 0 0.8em;
        text-align: center;
    }

    h3.convention-header {
        margin-bottom: initial;
        text-align: center;
    }

    h3.convention-header a {
        font-size: 0.99rem;
        padding-left: 1em;
    }

    p.convention-timeleft {
        font-size: 1.5rem;
        padding: initial;
        text-align: center;
    }

    p.convention-unconfirmed-msg {
        font-size: 0.7em;
        margin-bottom: 1em;
        padding-left: unset;
        text-align: left;
    }
}